[Unit]
Description=Load USB gadget scheme
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount

[Service]
ExecStartPre=/usr/sbin/modprobe libcomposite
ExecStart=/usr/sbin/sp970-usb-ncm.sh
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=usb-gadget.target
